@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
    background: url("../image/leaf.png") no-repeat bottom right fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body, .container-fluid, .col{
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    background-color: yellow;
    height: 5rem;
    border: solid .5rem black;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
}

.panel{
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    height: 5rem;
    width: 17.5rem;
}

.pan{
    text-align: center;
    background-color: grey;
    padding: 10px 0;
    height: 5rem;
    width: 3rem;
    border: solid 2px black; 
}

#green{
    position: absolute;
    cursor: pointer;
    text-align: center;
    height: 20rem;
    width: 20rem;
    background-color:  #00A859;
}

/* media query */

@media(min-width:340px){
    .header{
        font-size: 3rem;
    }
}

@media(min-width:376px){
    .panel{
        width: 24rem;
    }
}

@media(min-width:340px){
    #green{
        width: 40rem;
    }
}