@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
    background: url("../image/leaf.png") no-repeat bottom right fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body, .container-fluid, .col{
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    background-color: yellow;
    height: 5rem;
    border: solid .5rem black;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
}

.panel{
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    height: 5rem;
    width: 17.5rem;
}

.pan{
    text-align: center;
    background-color: grey;
    padding: 10px 0;
    height: 5rem;
    width: 3rem;
    border: solid 2px black; 
}

#green{
    position: absolute;
    cursor: pointer;
    text-align: center;
    height: 20rem;
    width: 20rem;
    background-color:  #00A859;
}

#yellow{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    height: 20rem;
    width: 20rem;
    clip-path: polygon(50% 10%, 7% 50%, 50% 90%, 93% 50%);
    background-color:#ffdf00;
}

#blue{
    z-index: 2;
    position: absolute;
    cursor: pointer;
    clip-path: circle(100% at 50% 50%);
    height: 8rem;
    width: 8rem;
    background-color:#3E4095;
    border-radius: 50%;   
    top: 17rem;
}

#white{
    z-index: 3;
    position: absolute;
    cursor: pointer;
    height: 2rem;
    width: 8rem;
    top: 20rem;
    background-color: white;
    border-radius: 5%;
}

/* media query */

@media(min-width:376px){
    .header{
        font-size: 3rem;
    }
}

@media(min-width:376px){
    .panel{
        width: 24rem;
    }
}

@media(min-width:340px){
    #green{
        width: 40rem;
    }
}

@media(min-width:340px){
    #yellow{
        height: 20rem;
        width: 40rem;
    }
}

@media(min-width:415px){
    #blue{
        width: 10rem;
        height: 10rem;
        top: 16rem;
    }
}